:host {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.25);
}

.note {
  position: absolute;
  left: 320px;
  right: 320px;
  top: 60px;
  bottom: 60px;
  background: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr;
}

.note-content {
  padding: 10px 68px 40px 60px;
  line-height: 100%;
  text-align: left;
  vertical-align: Top;
  word-spacing: 7px;
  font-size: xx-large;
}

.actions {
  padding: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .action {
    padding: 12px;
    &:first-of-type {
      margin-right: auto;
    }
  }
}

textarea {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
  border: none;
}
